# Postgres Config
POSTGRES_USER=mahasiswa-rsi
POSTGRES_PASSWORD=praktikum-rsi
POSTGRES_DB=acara-rsi-4

# Pgadmin config
PGADMIN_DEFAULT_EMAIL=mahasiswa-rsi@gmail.com
PGADMIN_DEFAULT_PASSWORD=praktikum-rsi
DATABASE_URL=postgresql://mahasiswa-rsi:praktikum-rsi@localhost:5438/acara-rsi-4